body {
  margin: 0;
  font-family: 'Merriweather', serif;
}

main {
  text-align: center;
}

h1 {
  position: absolute;
  top: 175px;
  left: 125px;
  display: inline-block;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', "Helvetica Neue", Arial, sans-serif;
}

h2 {
  color: #11999E;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

.sd {
  color: black;
  position: absolute;
  left: 125px;
  top: 345px;
  display: inline-block;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

.TopContainer {
  background-color: #E4F9F5;
  height: 650px;
}

.MiddleContainer {
  background-color: #E4F9F5;
}

.BottomContainer {
  background-color: #E4F9F5;
}

.logo {
  padding-top: 40px;
  margin: auto;
  position: relative;
  left:225px;
  height: 547px;
  width: 720px;
}

.skill-row {
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
}

.bar {
  background-color: #E4F9F5;
}

.BarItem {
  display: inline-block;
  padding: 0 25px 0;
  font-size: 1.3rem;
}

.BarIcon {
  float: right;
  display: inline-block;
  padding: 0 15px 0;
  margin-top: 18px;
}
